* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 1.5rem;
  min-height: 100vh;
}

header {
  background-color: green;
  display: flex;
  height: 64px;
}

main {
  background-color: pink;
}

footer {
  background-color: #000;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 64px;
}

.footer-list {
  list-style-type: none;
  line-height: 2rem;
  margin-bottom: 16px;
}

.footer-list a {
  color: #fff;
  text-decoration: none;
}

.footer-list a:hover {
  color: red;
}
