* {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: #f7f8fa;
  font-family: 'Plus Jakarta', sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

.body-2 {
  background-color: #fff;
}

/* GENERAL RULES */

h1 {
  margin: 0 0 24px;
  color: #333;
  font-size: 56px;
  line-height: 1.2em;
  font-weight: 500;
}

h2 {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 36px;
  line-height: 46px;
  font-weight: 500;
}

h3 {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

ul {
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 40px;
}

p {
  margin-top: 0;
  margin-bottom: 16px;
  font-family: 'Plus Jakarta', sans-serif;
  font-size: 18px;
  line-height: 1.7em;
  font-weight: 300;
}

a {
  background-color: transparent;
  color: #333;
  text-decoration: underline;
}

span {
  display: inline-block;
  min-width: 56px;
}

/* END GENERAL RULES */

/* HEADER */

header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: auto;
  display: flex;
  margin-top: 0;
  justify-content: center;
  border-bottom: 1px solid #e1e5e6;
  background-color: transparent;
  box-shadow: none;
  padding: 0;
  background: #ddd;
  z-index: 1000;
}

.nav-container {
  position: relative;
  display: flex;
  width: 100%;
  height: 75px;
  margin-right: 0;
  margin-left: 0;
  padding-right: 48px;
  padding-left: 48px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e1e5e6;
  background-color: #fff;
  box-shadow: none;
}

.nav-mobile-wrapper {
  align-items: stretch;
  display: flex;
  height: 100%;
  flex: 0 0 auto;
  justify-content: center;
  margin-bottom: -1px;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 100%;
  margin-bottom: -2px;
  padding: 10px 20px;
  transition: opacity 0.2s;
  color: #444;
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
}

.nav-link:hover {
  border-bottom: 2px solid #2f7393;
}

.nav-link:active {
  border-bottom: 2px solid #2f7393;
}

.btn-header.navigation-item {
  padding-left: 20px;
}

/* END HEADER */

/* NEW BOOTSTRP RULES */

.first-section {
  padding-top: 180px;
  padding-bottom: 0;
  position: relative;
}

.text-uppercase {
  color: #333;
  font-size: 16px;
  line-height: 1.7em;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.hero-img-leistung {
  width: 100%;
  min-height: 540px;
  object-fit: cover;
}

.divider {
  position: absolute;
  left: 0;
  top: auto;
  bottom: 0;
  right: 0;
  z-index: -1;
  height: 200px;
  background-color: #2b67cc;
}

.divider {
  height: 80px;
}

.divider.grey {
  background-color: #f7f8fa;
}

.grey-background {
  width: 100%;
  background-color: #f7f8fa;
  padding-top: 120px;
  padding-bottom: 120px;
}

.container.text-block {
  max-width: 720px;
}

.container.sprechzeiten {
  padding-top: 80px;
  padding-bottom: 80px;
}

.row.small-screen {
  display: none;
}

.col-heading {
  margin-top: 0;
  opacity: 1;
  font-size: 20px;
  font-weight: 500;
}

.paragraph {
  margin-bottom: 20px;
  padding-right: 30px;
  opacity: 1;
  font-size: 15px;
  line-height: 24px;
}

.paragraph.muted {
  opacity: 1;
  font-size: 16px;
  max-width: 300px;
}

.table-border {
  border-bottom: 1px solid #e1e5e6;
}

td {
  font-family: 'Plus Jakarta', sans-serif;
  font-weight: 300;
}

.day-highlight {
  font-weight: 500;
}

.container-photo-section {
  display: flex;
  padding-top: 0;
  padding-bottom: 0;
  justify-content: flex-start;
  align-items: flex-start;
}

.container-photo {
  width: 25%;
}

.footer {
  padding-bottom: 32px;
  padding-right: 0;
  padding-left: 0;
  text-align: left;
}

.container.footer {
  padding-top: 80px;
  padding-bottom: 48px;
}

.row.footer {
  justify-content: space-between;
}

.footer-col-left {
  max-width: 360px;
}

.footer-col-left p {
  font-size: 14px;
}

.footer-col-right {
  max-width: 400px;
}

.footer-list-item {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
  color: #333;
  list-style-type: none;
}

.footer-list-item:hover {
  text-decoration: underline;
  color: #333;
}

.copy {
  display: flex;
  padding-top: 32px;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #e1e5e6;
  color: #333;
}

.copy p {
  font-size: 0.75rem;
  margin: 0;
  max-width: 1200px;
  text-align: center;
}

.footer-heading {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 1.5;
}

.list-unstyled {
  list-style: none;
  padding-left: 0;
}

.footer-hl {
  align-self: baseline;
  align-items: center;
  display: flex;
  opacity: 1;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 1.5;
}

.hamburger {
  display: none;
  position: relative;
  z-index: 5;
  padding: 8px;
  cursor: pointer;
}

@media screen and (max-width: 576) {
}

@media screen and (min-width: 577px) {
}

@media screen and (max-width: 768px) {
  .first-section {
    padding-top: 120px;
  }

  .grey-background,
  .container.sprechzeiten {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .col {
    margin-bottom: 0;
  }

  .margin-bottom {
    margin-bottom: 40px;
  }

  .no-margin-bottom {
    margin-bottom: 0;
  }

  .row.small-screen {
    display: block;
  }
  .row.large-screen {
    display: none;
  }

  .paragraph.muted {
    max-width: 100%;
    padding-right: 0;
    hyphens: auto;
  }

  .container.footer {
    padding-top: 40px;
    padding-bottom: 22px;
  }

  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  .hero-img-leistung {
    min-height: 320px;
  }
}

@media screen and (min-width: 992px) {
  .hero-img-leistung {
    min-height: 320px;
  }
}

@media screen and (min-width: 1200px) {
}

@media screen and (min-width: 1400px) {
}

@media screen and (max-width: 991px) {
  .nav-mobile-wrapper {
    display: none;
  }

  .container-photo-section {
    flex-wrap: wrap;
  }

  .container-photo {
    width: 50%;
    height: 100%;
  }
}

@media screen and (max-width: 767px) {
  .row {
    flex-direction: column;
  }

  header {
    height: 65px;
  }

  .nav-container {
    height: 65px;
  }

  .col {
    margin-bottom: 15px;
  }

  .section.large-section {
    padding: 40px 0 20px 0;
  }

  .big-text-block {
    padding-right: 40px;
    padding-left: 40px;
  }

  .footer-flex-container {
    flex-direction: column;
    gap: 16px;
    margin-bottom: 32px;
  }

  .footer-wrapper {
    /* max-width: 90vw; */
    margin: auto;
  }

  .footer-link {
    margin-bottom: 16px;
  }

  .footer-flex-container-right {
    width: 100%;
  }

  .desktop-show {
    display: none;
  }

  #sprechzeiten-kontakt {
    margin-top: 20px;
  }

  .day-highlight {
    min-width: 200px;
  }
}

@media screen and (max-width: 479px) {
  .section {
    padding-top: 100px;
  }

  .section.large-section {
    padding: 20px 0 20px 0;
  }

  .row {
    margin-left: 0;
    margin-right: 0;
  }

  .col {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
  }

  .big-text-block {
    padding-right: 20px;
    padding-left: 20px;
  }

  .footer-flex-container-right {
    flex-direction: column;
    gap: 16px;
  }

  .footer-flex-container {
    gap: 0;
  }

  .copy {
    max-width: 90vw;
    margin: auto;
  }

  h1 {
    margin-bottom: 24px;
    font-size: 32px;
    line-height: 36px;
  }

  h2 {
    font-size: 28px;
  }

  .paragraph-2 {
    margin-bottom: 8px;
  }

  h4,
  p {
    font-size: 16px;
  }

  .nav-container {
    padding-right: 24px;
    padding-left: 24px;
  }

  .day-highlight {
    min-width: 0;
  }
}

/* KÖNNEN VERMUTLICH RAUS UNTEN */

/* .section {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
} */

/* img {
  border: 0;
  vertical-align: middle;
  display: inline-block;
  max-width: 100%;
} */

/* .section.large-section {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #f7f8fa;
} */

/* .big-text-block li {
  margin-bottom: 10px;
  padding-left: 35px;
  background-image: url('./assets/checkbox.svg');
  background-position: 0 5px;
  background-size: 20px;
  background-repeat: no-repeat;
  font-size: 18px;
  line-height: 1.7em;
  font-weight: 300;
  list-style-type: none;
} */
