* {
  margin: 0;
  box-sizing: border-box;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: auto;
  display: flex;
  margin-top: 0;
  justify-content: center;
  border-bottom: 1px solid #e1e5e6;
  background-color: transparent;
  box-shadow: none;
  padding: 0;
  background: #ddd;
  z-index: 1000;
}

.nav-container {
  position: relative;
  display: flex;
  width: 100%;
  height: 75px;
  margin-right: 0;
  margin-left: 0;
  padding-right: 48px;
  padding-left: 48px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e1e5e6;
  background-color: #fff;
  box-shadow: none;
}

.nav-mobile-wrapper {
  align-items: stretch;
  display: flex;
  height: 100%;
  flex: 0 0 auto;
  justify-content: center;
  margin-bottom: -1px;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 100%;
  margin-bottom: -2px;
  padding: 10px 20px;
  transition: opacity 0.2s;
  color: #444;
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
}

.nav-link:hover {
  border-bottom: 2px solid #2f7393;
}

.nav-link:active {
  border-bottom: 2px solid #2f7393;
}

.btn-header.navigation-item {
  padding-left: 20px;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: #f7f8fa;
  font-family: 'Plus Jakarta', sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin: 0 0 24px;
  color: #333;
  font-size: 56px;
  line-height: 1.2em;
  font-weight: 500;
}

h2 {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 36px;
  line-height: 46px;
  font-weight: 500;
}

h3 {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

ul {
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 40px;
}

p {
  margin-top: 0;
  margin-bottom: 16px;
  font-family: 'Plus Jakarta', sans-serif;
  font-size: 18px;
  line-height: 1.7em;
  font-weight: 300;
}

a {
  background-color: transparent;
  color: #333;
  text-decoration: underline;
}

.heading-bar {
  margin-top: 0;
  /* margin-bottom: 0; */
  opacity: 1;
  font-size: 20px;
  font-weight: 500;
}

.paragraph {
  margin-bottom: 20px;
  padding-right: 30px;
  opacity: 1;
  font-size: 15px;
  line-height: 24px;
}

.paragraph.muted {
  opacity: 1;
  font-size: 16px;
}

.paragraph-2 {
  color: #333;
  font-size: 16px;
  line-height: 1.7em;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.body-2 {
  background-color: #fff;
}

.section {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}

.section.first-section {
  padding-top: 180px;
}

.section.first-section.no-padding-bottom {
  padding-bottom: 0;
}

.container {
  margin: auto;
  max-width: 1200px;
  padding: 0 40px;
  position: relative;
  width: 100%;
}

.row {
  display: flex;
  margin-right: -15px;
  margin-left: -15px;
  align-items: flex-start;
}

.col {
  position: relative;
  display: flex;
  width: 100%;
  padding: 0 15px;
  flex-direction: column;
  justify-content: center;
}

.content-400 {
  width: 100%;
  max-width: 400px;
  text-align: left;
}

.div-block-8 {
  height: 540px;
}

.leistung-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.background-element {
  position: absolute;
  left: 0;
  top: auto;
  bottom: 0;
  right: 0;
  z-index: -1;
  height: 200px;
  background-color: #2b67cc;
}

.background-element.size-small {
  height: 80px;
}

.background-element.size-small.grey {
  background-color: #f7f8fa;
}

.uppercase {
  text-transform: uppercase;
}

img {
  border: 0;
  vertical-align: middle;
  display: inline-block;
  max-width: 100%;
}

.feed-photo {
  width: 25%;
}

.section.large-section {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #f7f8fa;
}

.big-text-block {
  max-width: 720px;
  margin: auto;
}

.big-text-block li {
  margin-bottom: 10px;
  padding-left: 35px;
  background-image: url('./assets/checkbox.svg');
  background-position: 0 5px;
  background-size: 20px;
  background-repeat: no-repeat;
  font-size: 18px;
  line-height: 1.7em;
  font-weight: 300;
  list-style-type: none;
}

.hp-action-wrap {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #f7f8fa;
}

.hp-action-wrap.white {
  padding-top: 90px;
  background-color: #fff;
  color: #333;
}

.action-box {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  color: #333;
}

.content-grid {
  display: grid;
  margin: auto;
  max-width: 1200px;
  padding: 0 40px;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  width: 100%;
}

#sprechzeiten-uebersicht {
  grid-column-end: 9;
  grid-column-start: 5;
  grid-row-end: 2;
  grid-row-start: 1;
}

#sprechzeiten-tabelle {
  grid-column-end: 13;
  grid-column-start: 9;
  grid-row-end: 2;
  grid-row-start: 1;
}

#sprechzeiten-kontakt {
  grid-column-end: 5;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-row-start: 1;
}

.section.photo-section {
  display: flex;
  padding-top: 0;
  padding-bottom: 0;
  justify-content: flex-start;
  align-items: flex-start;
}

.footer {
  padding-top: 60px;
  padding-bottom: 32px;
  padding-right: 0;
  padding-left: 0;
  text-align: left;
}

.footer p {
  font-size: 14px;
}

.footer-flex-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
  align-items: flex-start;
  text-align: left;
  color: #333;
}

.footer-flex-container-left {
  max-width: 360px;
  min-width: 60px;
  flex: 0 auto;
  text-decoration: none;
}

.footer-flex-container-right {
  display: flex;
  margin-right: -15px;
  margin-left: -15px;
  width: auto;
}

.col-2 {
  position: relative;
  width: 100%;
  margin-bottom: 0;
  padding-right: 15px;
  padding-left: 15px;
}

.col-2.footer-col {
  margin-right: 64px;
}

.row-2 {
  display: flex;
  margin-right: -15px;
  margin-left: -15px;
}

.list-unstyled {
  list-style: none;
  padding-left: 0;
}

.footer-link {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

.copy {
  display: flex;
  padding-top: 32px;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #e1e5e6;
  color: #333;
}

.copy p {
  font-size: 0.75rem;
  margin: 0;
  max-width: 1200px;
  text-align: center;
}

.footer-heading {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 1.5;
}

.footer-hl {
  align-self: baseline;
  align-items: center;
  display: flex;
  opacity: 1;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 1.5;
}

.info-box-hl.mobile-show {
  display: none;
}

.hamburger {
  display: none;
  position: relative;
  z-index: 5;
  padding: 8px;
  cursor: pointer;
}

/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/

@media screen and (max-width: 991px) {
  .nav-mobile-wrapper {
    display: none;
  }

  .hamburger {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .row {
    flex-direction: column;
  }

  .col {
    margin-bottom: 15px;
  }

  .container {
    padding: 0 40px;
  }

  .section.large-section {
    padding: 40px 0 20px 0;
  }

  .div-block-8 {
    height: 320px;
  }

  .big-text-block {
    padding-right: 40px;
    padding-left: 40px;
  }

  .section.photo-section {
    flex-wrap: wrap;
  }

  .feed-photo {
    width: 50%;
  }

  .footer-flex-container {
    flex-direction: column;
    gap: 16px;
    margin-bottom: 32px;
  }

  .footer-wrapper {
    /* max-width: 90vw; */
    margin: auto;
  }

  .footer-link {
    margin-bottom: 16px;
  }

  .footer-flex-container-right {
    width: 100%;
  }

  .content-grid {
    max-width: none;
    padding-right: 40px;
    padding-bottom: 30px;
    padding-left: 40px;
    grid-column-gap: 0px;
    grid-row-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
  }

  #sprechzeiten-uebersicht {
    grid-column-end: 13;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-row-start: 2;
  }

  #sprechzeiten-tabelle {
    grid-column-end: 13;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
  }

  #sprechzeiten-kontakt {
    grid-column-end: 13;
    grid-column-start: 1;
    grid-row-end: 4;
    grid-row-start: 3;
  }

  .daytime-holder {
    max-width: 260px;
    flex: 0 auto;
    gap: 8px;
  }

  .time-list {
    display: flex;
    margin-bottom: 12px;
    padding-bottom: 12px;
    flex-direction: row;
    font-size: 15px;
    justify-content: space-between;
  }

  .hp-action-wrap.white {
    padding-top: 60px;
  }

  .info-box-hl.mobile-show {
    display: block;
    margin-bottom: 20px;
  }

  .desktop-show {
    display: none;
  }

  #sprechzeiten-kontakt {
    margin-top: 20px;
  }
}

@media screen and (max-width: 479px) {
  .section {
    padding-top: 100px;
  }

  .section.large-section {
    padding: 20px 0 20px 0;
  }

  .container {
    padding: 0 20px;
  }

  .row {
    margin-left: 0;
    margin-right: 0;
  }

  .col {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 32px;
  }

  .big-text-block {
    padding-right: 20px;
    padding-left: 20px;
  }

  .footer-flex-container-right {
    flex-direction: column;
    gap: 16px;
  }

  .footer-flex-container {
    gap: 0;
  }

  .copy {
    max-width: 90vw;
    margin: auto;
  }

  h1 {
    margin-bottom: 24px;
    font-size: 32px;
    line-height: 36px;
  }

  h2 {
    font-size: 28px;
  }

  .paragraph-2 {
    margin-bottom: 8px;
  }

  .section.first-section {
    padding-top: 100px;
  }

  h4,
  p {
    font-size: 16px;
  }

  .big-text-block li {
    font-size: 16px;
    hyphens: auto;
  }
}
