* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 1.5rem;
  min-height: 100vh;
}

header {
  background-color: #fff;
  border-bottom: 1px solid #b3b3b3;
  bottom: auto;
  display: flex;
  left: 0;
  padding: 0 32px;
  position: fixed;
  right: 0;
  top: 0;
}

.navigation {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
}

.navigation a {
  color: #55565a;
  padding: 16px;
  height: 100%;
  text-decoration: none;
}

.phone-header {
  align-items: center;
  background-color: #2f7393;
  border: 1px solid #2f7393;
  border-radius: 32px;
  color: #fff;
  display: flex;
  gap: 8px;
  justify-content: center;
  text-decoration: none;
}

.txt-icon-left {
  width: 16px;
  filter: invert();
}

.txt-icon-right {
  color: #fff;
}

.logo {
  height: 80px;
}

.nav-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-selection {
  height: 100%;
}

main {
  padding: 100px 0;
}

.container {
  display: flex;
  justify-content: space-around;
}

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.welcome p {
  text-transform: uppercase;
}

.welcome h1 {
  font-size: 2rem;
}

.portrait {
  width: 504px;
}

.sprechzeiten-btn {
  border: 1px solid #2f7393;
  color: #2f7393;
  padding: 16px;
  text-decoration: none;
}

.sprechzeiten-btn:hover {
  background-color: #2f7393;
  color: #fff;
}

/* .hero {
  background-image: url('./assets/andreas-kretschmer-1ZLxTZ1rSX4-unsplash.png');
  background-size: cover;
  height: 100vh;
}

.intro {
  background-image: url('./assets/andreas-kretschmer-Ox_QTFRjf6g-unsplash.png');
  background-size: cover;
  height: 100vh;
}

.section {
  background-color: #111;
  height: 100vh;
} */

/* footer {
  align-items: center;
  background-color: #111;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  height: 50vh;
  justify-content: space-around;
  padding: 64px;
  line-height: 2rem;
} */

.footer-list {
  list-style-type: none;
  margin-bottom: 16px;
}

.footer-list a {
  color: #fff;
  text-decoration: none;
}

.footer-list a:hover {
  color: red;
}

.icon {
  display: flex;
  align-items: center;
  gap: 8px;
}

img {
  filter: invert();
}
