* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 1.5rem;
  min-height: 100vh;
}

header {
  background-color: #fff;
  border-bottom: 1px solid #e1e5e6;
  bottom: auto;
  display: flex;
  left: 0;
  padding: 0 32px;
  position: fixed;
  right: 0;
  top: 0;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav-wrapper,
.btn-wrapper {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
}

.nav-wrapper-child {
  align-items: center;
  align-self: stretch;
  display: flex;
}

.nav-selection {
  align-items: center;
  align-self: center;
  color: #55565a;
  display: flex;
  height: 100%;
  padding: 16px 24px;
  text-decoration: none;
}

.nav-selection:hover {
  background-color: pink;
}

.phone-header {
  background-color: #2f7393;
  border: 1px solid #2f7393;
  border-radius: 32px;
  color: #fff;
  display: flex;
  gap: 8px;
  justify-content: center;
  padding: 12px 28px;
  margin-right: 32px;
  text-decoration: none;
}

.txt-icon-left {
  width: 14px;
  filter: invert();
}

.txt-icon-right {
  color: #fff;
}

.logo {
  height: 88px;
  padding-top: 8px;
}

/* END HEADER */

/* BEGINNING MAIN SECTION */

.intro {
  margin: auto;
  margin-top: 156px;
  display: flex;
  height: 100%;
  /* background-color: pink; */
  width: 100%;
  max-width: 1400px;
  justify-content: center;
}

.one,
.two {
  height: 400px;
  width: 100%;
}

.one {
  background-color: green;
}

.pic {
  object-fit: scale-down;
  width: 100%;
  height: 100%;
}

/* Sprechzeiten */

.container {
  background-color: grey;
}

.sprechzeiten {
  background-color: yellow;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1400px;
  margin: 128px auto;
  padding: 8px;
}
